html {
    background: linear-gradient(to bottom, #45484D 0%, #000000 100%) ;
    background-repeat: no-repeat ;
    height: 100%;
    background: transparent radial-gradient(at calc(var(--mouse-x, 0) * 100%) calc(var(--mouse-y, 0) * 100%), #75006fd5, #282927) no-repeat 0 0
}

h1 {
    text-align: center;
    color: white;
    font-family: cursive;
}

.calculator {
    width: 300px;
    height: 470px;
    background-color: #282927;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #000000;
    text-align: center;
    background: transparent radial-gradient(at calc(var(--mouse-x, 0) * 100%) calc(var(--mouse-y, 0) * 100%), #75006fd5, #282927) no-repeat 0 0
}

.calculator__screen {
    width: 90%;
    height: 100px;
    font-size: 50px;
    padding: 0;
    border: 0;
    border-radius: 6px;
    color: #c96dc4;
    text-align: right;
    background: transparent;
    font-weight: 100; /*El numero mas fino*/
}

.calculator_keypad {
    border-top: 1px solid #000000;
}

.btn {
    background-color: #5d5d5c;
    width: 75px;
    height: 75px;
    float: left;
    font-size: 30px;
    color: white;
    border: 0;
    font-weight: 300;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.btn-double {
    width: 150px;
    text-align: left;
    padding-left: 30px;
}

.btn-dark {
    background-color: #3c3d3d;
}

.btn-orange {
    background-color: #75006fd5
}

.btn:nth-child(4n),
.btn:last-child(){
    border-right: 0;
}

.btn:focus{
    outline: none;
}

.btn:active{
    opacity: 0.5;
}

.btn:hover{
    background: linear-gradient(0.25turn, #222122, #494747, #222122);
}

.btn-dark:hover{
    background: linear-gradient(0.25turn, #282927, #4e504d, #282927);
}

.btn-orange:hover{
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

footer{
    border-radius: 5px;
    margin-top: initial;
    border-top: 1px solid #5d5d5c;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    background: transparent radial-gradient(at calc(var(--mouse-x, 0) * 100%) calc(var(--mouse-y, 0) * 100%), black, #333232) no-repeat 0 0
}

body {
    margin: 0;
}

